.header-his {
	max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.mylists-btn-his {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 10px 20px;
	background-color: #5b8bf7;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size:15px;
}
.all_componant-his {
	background-image: url("../../assets/BG.png");
	background-position: top;
	background-size: cover;
	height: 145px;
}

.someHeader {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34.5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.selection-zone-his {
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 30px;
	/*height: 5rem;*/
}

.selection-zone-his>p {
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}

.table_data {
	width: 100%;
	border-collapse: collapse;
	border: none;
}

.table-zone {
	margin: 1rem 5rem;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}

.table_header {
	background-color: #546b83;
	color: #fff;
	height: 50px;
	font-size: 20px;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* พื้นหลังโปร่งแสง */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	/* ให้อยู่เหนือ element อื่นๆ */
}

.popup-inner {
	background-color: white;
	border-radius: 8px;
	width: 100vh;
	height: 45vh;
	text-align: center;
}

.popup-inner h2 {
	padding-left: 20px;
	padding-top: 20px;

}

.table_button {
	border-radius: 4px;
	background-color: #526D82;
	border: none;
	color: white;
	margin-right: 10px;
	width: 100px;
	height: 40px;
}

.table_button:hover {
	background-color: #A0C5E2;
	color: #050f1d;
}

.table_record {
	border-bottom: 1px solid #777777;
}
